{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Register{% endtrans %}
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>{% trans %}Register{% endtrans %}</h1>

	{{ form_start(registrationForm) }}

	{{ form_row(registrationForm.email,{
		label: 'Email',
		label_attr : { 'class' : 'bi bi-envelope'}
	})}}


	{{ form_row(registrationForm.plainPassword, {
            label: 'Password',
			label_attr: { 'class' : 'bi-key-fill'}
        }) }}
	{{ form_row(registrationForm.lastname) }}
	{{ form_row(registrationForm.firstname) }}
	{{ form_row(registrationForm.adress) }}
	{{ form_row(registrationForm.city) }}
	{{ form_row(registrationForm.postcode) }}
	{{ form_row(registrationForm.phone) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">{% trans %}Register{% endtrans %}</button>
	{{ form_end(registrationForm) }}
{% endblock %}
